:root {
	--container-width: 1200px;
	--container-padding: 15px;
	--font-main: 'Raleway', sans-serif;

	--font-bold: font-weight: 700;
	--font-two: "Playfair Display", serif;

	--font-accent: 'Playfair Display', serif;
	
	--page-bg: #242B33;
	--text-color: #fff;
	--accent: #ac182c;

	--laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.White {
	--page-bg: #fff;
	--text-color: #000;
}
